#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.game-row {
    display: flex;
    justify-content: center;
    width: 80vw;
    max-width: 700px;
    border: 3px solid rgb(88, 60, 28);
}

.square {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(181, 137, 87);
}