:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    text-align: center;
    font-family: "Papyrus", fantasy;
    font-size: 3.125rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    padding: 50px;
}

p {
    margin: 0;
}

main {
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    filter: url(#wavy2);
}
.join-game-button {
    padding-bottom: 50px;
    text-align: center;
}

.player-turn-reminder {
    background-color: rgba(255, 255, 0, 0.753);
    width: max-content;
}

.spinner-container {
  color: rgb(90, 38, 4);
  display: flex;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(90, 39, 4, 0.452);
  border-radius: 50%;
  border-top: 4px solid rgba(128, 84, 55, 0.452);
  width: 40px;
  height: 40px;
  padding-right: 20px;
  animation: spin 1s linear infinite;
}

.spinner-container h2 {
    padding-left: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}