:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    text-align: center;
    font-family: "IM Fell Great Primer SC", serif;
    font-size: 3.125rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    padding-bottom: 30px;
}

h2 {
  text-align: center;
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
}

.intro {
    font-size: 1.8em;
    color: rgb(51, 51, 51);
}

p {
    margin: 0;
}

main {
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    filter: url(#wavy2);
    font-family: "IM Fell Great Primer", serif;
}
.join-game-button {
    padding-bottom: 50px;
    text-align: center;
}

.join-game-button button {
    
    font-family: "IM Fell Great Primer", serif;
}

.player-turn-reminder {
    background-color: rgba(255, 255, 0, 0.753);
    width: max-content;
}

.spinner-container {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  z-index: 9999;
  padding-bottom: 30px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.452);
  border-radius: 50%;
  border-top: 4px solid rgba(110, 110, 110, 0.452);
  width: 40px;
  height: 40px;
  padding-right: 20px;
  animation: spin 1s linear infinite;
}

.spinner-container h2 {
    padding-left: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
